@import "highlight";
@import "markdown";
@import "charts";

@import "./example-scss/variables";
@import "./example-scss/typography";
@import "./example-scss/mixins";
@import "./example-scss/global";
@import "./example-scss/widgets";
@import "./example-scss/content";
@import "./example-scss/nx-tile";
@import "./example-scss/form";
@import "./example-scss/icons";
@import "./example-scss/mainHeader";
@import "./example-scss/iq-theme-dark";

// Page Layout

.iq-root-container--gallery {
  display: flex;
  
  .iq-sidebar {
    flex: 0 1 auto;
    padding-left: 8px;
  }
  
  main {
    flex: 0 1 auto;
  }
}

// Global

.iq-error {
  background-color: #fce2e2;
  border-color: #831d1d;
  color: #831d1d;
}

.iq-alert__message {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  i {
    margin-right: 8px;
  }
}

// CUSTOM STYLES FOR GALLERY

.iq-title__brand {
  a, a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.nx-tile__gallery {
  .nx-tile-header {
    margin-bottom: 0;
  }
}
