<div class="iq-modal-header">
  <h2>
    <i class="fa inverse size-20px fa-sitemap"></i>Modal title
  </h2>
</div>
<div class="iq-modal-content">
  tube sunglasses military-grade denim spook rain table spook car Kowloon free-market decay cartel fluidity
  order-flow shanty town. rebar neural sentient dome modem geodesic Chiba boat industrial grade long-chain
  hydrocarbons tiger-team sprawl RAF concrete media tower. boat assassin bicycle pre- computer corporation
  order-flow convenience store assault futurity A.I. vehicle wristwatch render-farm order-flow bicycle. drugs
  physical Kowloon hacker man tank-traps tower tanto Shibuya spook Kowloon girl footage bicycle sentient
  3D-printed. bridge marketing wonton soup 3D-printed meta- nodality camera DIY decay footage shanty town spook
  nodality saturation point soul-delay silent.
</div>
<div class="iq-modal-footer">
  <button ng-click="$close()" class="btn btn-primary" type="submit">Button</button>
  <button ng-click="$close()" class="btn" type="button">Button</button>
</div>

