/*
  #Tables
*/

.nx-table {
  border-collapse: collapse;
  display: table;
  margin-top: 8px;
  width: 100%;
}

.nx-table-row {
  &:last-child {
    .nx-cell {
      border-bottom: 1px solid $iq-grey-1;
    }
  }

  &.iq-clickable {
    &:last-child {
      &:hover .nx-cell {
        border-bottom: 1px solid $iq-grey-4;
      }
    }

    &:hover {
      .nx-cell {
        border-top: 1px solid $iq-grey-4;
      }

      + .nx-table-row .nx-cell {
        border-top: 1px solid $iq-grey-4;
      }

      .nx-cell--label, .nx-cell--chevron {
        color: $iq-off-black;
      }
    }
  
    .nx-cell--label {
      @include semi-bold();

      color: $iq-slate;
    }
  }
}

.nx-table-row--header {
  border-top: 1px solid $iq-grey-3;
  border-bottom: 1px solid $iq-grey-2;
}

.nx-cell {
  @extend .truncate-ellipsis;
  
  border-top: 1px solid $iq-grey-1;
  color: $iq-off-black;
  display: table-cell;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  text-align: left;
}

.nx-cell--header {
  background-color: $iq-grey-1;
  border-top: none;
  border-left: 1px solid $iq-grey-2;
  color: $iq-slate;
  position: relative;
  text-align: left;
  
  &:first-child {
    border-left: none;
  }

  &.nx-cell--chevron {
    border-color: $iq-grey-1;
  }

  &.nx-th--selected, &.selected-column {
    background-color: $iq-grey-2;
  }
}

.nx-cell--header--noborder {
  border-left: 1px solid $iq-grey-1;
}

.nx-cell--selected-column, .nx-cell--selected {
  background-color: $iq-grey-2;
}

// Column sorting icons and indicators
.nx-column-sort-trigger {
  color: $iq-slate;
  display: block;
  height: 40px;
  line-height: 40px;

  &:hover {
    color: $iq-off-black;
    text-decoration: none;
  }
}

.nx-col-sort-icons, .nx-column-sort-icons {
  color: $iq-grey-4;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: -13px;
  width: 6px;

  .fa-caret-up {
    line-height: 7px;
    position: absolute;
    top: 1px;

    &.up {
      color: $iq-slate;
    }
  }

  .fa-caret-down {
    line-height: 7px;
    position: absolute;
    top: 8px;

    &.down {
      color: $iq-slate;
    }
  }
}

.nx-cell--label {
  @include semi-bold();

  color: $iq-off-black;
}

// Used when table contents are empty
.nx-cell--empty {
  @include regular();

  color: $iq-slate;
  text-align: center;
}

// special cells that usually contain a button or indicator - usually on the right side
.nx-cell--chevron {
  color: $iq-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

.nx-cell--icon {
  color: $iq-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

// a cell that only contains an icon that acts as a button
.nx-cell--btn-icon {
  padding-right: 0;
  width: 32px;
}
