$nx-theme-dark-background: $nx-slate;
$nx-theme-dark-text: $nx-grey-2;
$nx-theme-dark-text-hover: $nx-off-white;
$nx-theme-dark-border-color: $nx-grey-2;
$nx-theme-dark-box-shadow: $nx-off-black;

.iq-sidebar--theme-dark {
  background-color: $nx-theme-dark-background;
  border-right: 1px solid $nx-off-black;
  color: $nx-theme-dark-text;

  .iq-label {
    color: $nx-off-white;
  }
  
  dropdown-selector {
    border: 1px solid $nx-theme-dark-text;
    width: 238px; // adjust for narrower left border
  }

  .iq-form-select__item {
    color: $nx-theme-dark-text;

    .none-selected {
      color: $nx-theme-dark-text;
    }

    &:hover {
      .caret {
        border-top-color: $nx-theme-dark-text;
      }
    } 
  }

  .dropdown-menu {
    background: $nx-theme-dark-background;
    border-color: $nx-theme-dark-text;
    box-shadow: -4px 6px 10px $nx-off-black;
    margin: 0 0 0 -1px;
    width: 100%;

    > li {
      color: $nx-grey-2;
      
      &:hover {
        color: $nx-off-white;
      }
    }
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea {
    background: $nx-theme-dark-background;
    width: 222px; //adjust for narrower border

    &.iq-text-input, &.iq-textarea {
      border: 1px solid $nx-theme-dark-text;

      &:focus {
        border-color: $nx-theme-dark-text;
      }

      &.ng-pristine {
        color: $nx-theme-dark-text;
      }
    }
  }

  .iq-checkbox__label {
    color: $nx-off-white;
  }

  .iq-checkbox__input {
    &:checked + .iq-checkbox__box::after {
      color: $nx-theme-dark-text;
    }
  }

  .iq-checkbox__box {
    color: $nx-theme-dark-text;

    &::before {
      border: 1px solid $nx-off-white;
    }
  }

  .iq-checkbox--disabled {
    color: $nx-grey-4;

    .iq-checkbox__box {
      &::before {
        border: 1px solid $nx-grey-4;
      }
    }
  }
  
  .iq-radio__input {
    &:checked + .iq-radio__circle::after {
      background-color: $nx-theme-dark-text;
      border: 1px solid $nx-theme-dark-text;
    }
  }

  .iq-radio__circle {
    color: $nx-theme-dark-text;
  
    &::before {
      border: 1px solid $nx-theme-dark-text;
    }
  }
  
  .iq-radio--disabled {
    .iq-radio__circle {  
      &::before {
        border-color: $nx-grey-4;
      }
    }
  }
  
  .iq-btn--tertiary {
    color: $nx-theme-dark-text;

    &:hover, &:focus {
      border-color: $nx-theme-dark-text;
    }

    &:active {
      border-color: $nx-theme-dark-text;
    }

    &.disabled, &[disabled] {
      color: $nx-grey-4;
    }
  }
  
  .iq-tree-view, .iq-tree-view__text {
    color: $nx-off-white;
  }
  
  .iq-tree-view__twisty-icon {
    border-left: 5px solid $nx-off-white;
    
    &.expand {
      border-left-color: $nx-off-white;
    }

    &.collapse {
      border-left-color: $nx-off-white;
    }
  }
  
  .iq-tree-view__filter {
    input[type="text"] {
      color: $nx-off-white;
    }
    
    .fa-filter, .fa-times {
      color: $nx-slate;
    }
  }
}
