.lightning-title {
  font-size: 109.5px;
  line-height: 1;
}

.lightning-subtitle {
  font-size: 67.7px;
  line-height: 1;
}

.lightning-text {
  font-size: 25.8px;
  line-height: 1.5;
  margin: 30px 0 20px 0;
}

.nx-list__title--lightning {
  font-size: 25.8px;
  line-height: 1.5;
}

.nx-list-item--lightning {
  font-size: 25.8px;
  line-height: 1.5;
  list-style: disc;
  list-style-position: inside;
}

