// NOTE: Typography mixins are located in _typography.scss
@mixin iq-arrow-up() {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  content: "";
  height: 0;
  margin-left: -5px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
}

/*
  Flexbox
*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

/*
 #Placeholder classes
*/
%link {
  &.disabled {
    color: $iq-light-blue;
    cursor: default;

    &:hover {
      color: $iq-light-blue;
    }
  }

  &:not(.disabled) {
    color: $iq-link-color;

    &:hover:not(:active) {
      color: $iq-link-color;
      text-decoration: underline;
    }
    
    &:active {
      color: $iq-link-color-active;
      text-decoration: none;
    }
  }
}

.truncate-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
