/*
  #Colors
*/
// Sonatype brand colours
$nx-sonatype-blue: #336699;
$nx-sonatype-orange: #f89100;

// Colour variables
$nx-main-background-color: #fff;

$nx-off-black: #070707;
$nx-slate: #575757;
$nx-off-white: #fefefe;


$nx-grey-4: #cacaca; // darkest
$nx-grey-3: #dedede;
$nx-grey-2: #eaeaea;
$nx-grey-1: #f5f5f5; // lightest

$nx-link-color: #2476c3;
$nx-link-color-active: #0046b1;
$nx-link-color-disabled: #97cbee;

$nx-dark-blue: #006bbf;
$nx-light-blue: #97cbee;

$nx-dark-purple: #885195;
$nx-light-purple: #dbc6df;
$nx-medium-purple: #b087ba;

$nx-dark-green: #099843;
$nx-light-green: #b6e9ab;

$nx-dark-red: #bc012f;
$nx-light-red: #edb1af;

$nx-orange: #f4861d;
$nx-yellow: #f5c648;

$nx-invalid-color: #c70000;
$nx-valid-color: #84c900;

// Was alert-fg & alert-bg
$nx-warn-color: #9d6800;
$nx-warn-color-bg: #fcf8e3;

$nx-fail-color: #831d1d;
$nx-fail-color-bg: #fce2e2;

$nx-fail-color-active: #5c0000;
$nx-fail-color-disabled: #dd9595;
$nx-fail-color-hover: #5d0000;

$pickable-colors:
  ('dark-blue', $nx-dark-blue),
  ('light-blue', $nx-light-blue),
  ('dark-green', $nx-dark-green),
  ('light-green', $nx-light-green),
  ('orange', $nx-orange),
  ('dark-purple', $nx-dark-purple),
  ('light-purple', $nx-light-purple),
  ('dark-red', $nx-dark-red),
  ('light-red', $nx-light-red),
  ('yellow', $nx-yellow);

/*
  ##Threat Colors
*/
$nx-threat-color-unspecified: #d9dade;
$nx-threat-color-none: $nx-dark-blue;
$nx-threat-color-low: $nx-dark-blue;
$nx-threat-color-moderate: $nx-yellow;
$nx-threat-color-severe: $nx-orange;
$nx-threat-color-critical: $nx-dark-red;

$nx-threat-color-ignore: $nx-light-blue;
$nx-threat-color-policy-none: $nx-light-blue;

$nx-threat-color-policy-none-light: #d9ecfb;
$nx-threat-color-low-light: #92cbff;
$nx-threat-color-moderate-light: #fdecaf;
$nx-threat-color-severe-light: #ffd6a2;
$nx-threat-color-critical-light: #ff9493;

$threat-levels:
  ("none", #FFF, $nx-threat-color-none, (0)),
  ("moderate", #444, $nx-threat-color-moderate, (1, 2, 3)),
  ("severe", #FFF, $nx-threat-color-severe, (4, 5, 6, 7)),
  ("critical", #FFF, $nx-threat-color-critical, (8, 9, 10));

$policy-threat-levels:
  ("none", #FFF, $nx-threat-color-policy-none, (0)),
  ("low", #444, $nx-threat-color-low, (1)),
  ("moderate", #444, $nx-threat-color-moderate, (2, 3)),
  ("severe", #FFF, $nx-threat-color-severe, (4, 5, 6, 7)),
  ("critical", #FFF, $nx-threat-color-critical, (8, 9, 10));

$threat-bars: 
  ("ignore", #FFF, $nx-threat-color-ignore),
  ("unspecified", #FFF, $nx-threat-color-unspecified);

/*
  #Borders
*/
$nx-grey-border: 1px solid $nx-grey-3;

// sidebar manage filter dropdown higher than main content
$nx-sidebar-zindex: 4;

// box-shadow to appear over scrollable contents
$nx-dashboard-headers-zindex: 2;

/*
  #Page elements
*/
$nx-main-header-height: 40px;

$nx-page-width-max: 1366px;
$nx-page-width-min: 1024px;
$nx-content-width: 75.9%;
$nx-sidebar-width: 100% - $nx-content-width;

$nx-paragraph-width-maximum: 562px;

$nx-scrollbar-width: 15px;
