/*
  #Alerts
*/
.nx-alert {
  background-color: $iq-warn-color-bg;
  border: 1px solid $iq-warn-color;
  color: $iq-warn-color;
  margin: 8px;
  padding: 9px 8px 8px 8px;

  .fa {
      margin-right: 8px;
  }

  :first-child {
    margin-top: 0;
  }

  .nx-scrollable {
    margin-top: -8px;
    margin-right: -8px;
  }
}

.nx-alert--error {
  background-color: $iq-fail-color-bg;
  border-color: $iq-fail-color;
  color: $iq-fail-color;
}

.nx-alert--info {
  background-color: $iq-off-white;
  border-color: $iq-dark-blue;
  color: $iq-off-black;

  .fa {
    color: $iq-dark-blue;
    font-size: 16px;
  }
}

.nx-alert--system-notice {
  border-style: solid;
  border-width: 1px 0;
  margin: 0;

  h2 {
    margin-bottom: 0;
  }
}

.nx-alert--form-item {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
