/*
  #Tables
*/

$nx-table-header-height: 40px;

.nx-table {
  border-collapse: collapse;
  display: table;
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.nx-table-row {
  &:last-child {
    .nx-cell {
      border-bottom: 1px solid $nx-grey-1;
    }
  }

  &.nx-clickable {
    &:last-child {
      &:hover .nx-cell {
        border-bottom: 1px solid $nx-grey-4;
      }
    }

    &:hover {
      .nx-cell {
        border-top: 1px solid $nx-grey-4;
      }

      + .nx-table-row .nx-cell {
        border-top: 1px solid $nx-grey-4;
      }

      .nx-cell--label, .nx-cell--chevron {
        color: $nx-off-black;
      }
    }
  
    .nx-cell--label {
      @include semi-bold();

      color: $nx-slate;
    }
  }
}

.nx-table-row--header {
  border-top: 1px solid $nx-grey-3;
  border-bottom: 1px solid $nx-grey-2;
}

.nx-cell {
  @extend .truncate-ellipsis;
  
  border-top: 1px solid $nx-grey-1;
  color: $nx-off-black;
  display: table-cell;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  text-align: left;
}

.nx-cell--header {
  background-color: $nx-grey-1;
  border-top: none;
  border-left: 1px solid $nx-grey-2;
  color: $nx-slate;
  position: relative;
  text-align: left;
  
  &:first-child {
    border-left: none;
  }

  &.nx-cell--chevron {
    border-color: $nx-grey-1;
  }

  &.nx-th--selected, &.selected-column {
    background-color: $nx-grey-2;
  }
}

.nx-cell--header--noborder {
  border-left: 1px solid $nx-grey-1;
}

.nx-cell--selected-column, .nx-cell--selected {
  background-color: $nx-grey-2;
}

// Column sorting icons and indicators
.nx-column-sort-trigger {
  color: $nx-slate;
  display: block;
  height: 40px;
  line-height: 40px;

  &:hover {
    color: $nx-off-black;
    text-decoration: none;
  }
}

.nx-col-sort-icons, .nx-column-sort-icons {
  color: $nx-grey-4;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: -13px;
  width: 6px;

  .fa-caret-up {
    line-height: 7px;
    position: absolute;
    top: 1px;

    &.up {
      color: $nx-slate;
    }
  }

  .fa-caret-down {
    line-height: 7px;
    position: absolute;
    top: 8px;

    &.down {
      color: $nx-slate;
    }
  }
}

.nx-cell--label {
  @include semi-bold();

  color: $nx-off-black;
}

// Used when table contents are empty
.nx-cell--empty {
  @include regular();

  color: $nx-slate;
  text-align: center;
}

// special cells that usually contain a button or indicator - usually on the right side
.nx-cell--chevron {
  color: $nx-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

.nx-cell--icon {
  color: $nx-slate;
  padding: 0 12px;
  text-align: right;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
}

// a cell that only contains an icon that acts as a button
.nx-cell--btn-icon {
  padding-right: 0;
  width: 32px;
}

// used on pages where we want an input field at the top of the table column to filter the column contents
// it is expected that the column filters will be located in the <thead>
.nx-table-row--filters {
  border-color: transparent;

  &:last-child .nx-cell.nx-cell--filter {
    // override high-specificity style
    border-color: transparent;
  }
}

.nx-cell--filter {
  $height: 30px;

  border-color: transparent;
  height: $height;
  line-height: $height;
  padding: 3px 0 0 8px; 

  .input-prepend {
    line-height: $height;
    margin: 0;
    vertical-align: top;
    width: 100%;
  }

  input {
    line-height: $height;
    width: calc(100% - 48px);
  }
  
  &:first-child {
    padding-left: 8px;
  }
  
  &:last-child {
    padding-right: 8px;
  }
}

/*
  #Table with a fixed header and scrolling contents
 */

// a page utilizing a fixed header table will require a modified ".nx-scrollable", e.g. ".nx-scrollable--mypage".
// This custom ".nx-scrollable--mypage" should invoke the `table-fixed-widths` mixin with the desired number
// of columns in order to get width styles for that many equal-width columns. See the gallery for an example

.nx-table--fixed {
  border-bottom: 1px solid $nx-grey-1;
  display: block;
  margin-top: 0;

  thead, tbody {
    display: block;
  }

  .nx-table-row {
    display: block;
    width: 100%;
  }
}

.nx-table--fixed__header {
  @include semi-bold();

  background-color: #fff;
  box-shadow: 0px 2px 5px 0px $nx-grey-1;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 8px;
  text-transform: uppercase;
  width: calc(100% - 16px);
  z-index: $nx-dashboard-headers-zindex;

  .nx-cell--header {
    display: inline-block;
    height: $nx-table-header-height;
    line-height: $nx-table-header-height;

    &:first-child {
      border-left: 1px solid $nx-grey-1;
      line-height: 40px;
    }

    &:last-child {
      padding-right: 11px;
    }
  }
}

.nx-table--fixed__content {
  display: block;
  padding-top: $nx-table-header-height; // pushes top row from below header
  position: relative;

  .nx-cell {
    border-left: 1px solid $nx-off-white;
    display: inline-block;
    min-width: 0;

    &:last-child {
      padding-right: 11px;
    }

    &.nx-cell--empty {
      width: 100%;
    }
  }
}
