/*
  #Basic links
*/
a {
  color: $iq-link-color;
  cursor: pointer;
}

.nx-clickable {
  cursor: pointer;
}

/*
  #Helper Classes
*/
.nx-pull-left {
  float: left;
}

.nx-pull-right {
  float: right;
}

.iq-error {
  background-color: $iq-fail-color-bg;
  border: 1px solid $iq-fail-color;
  color: $iq-fail-color;
}

.iq-scrollable {
  height: auto;
  max-height: 400px; // default value - magic number
  overflow-x: hidden;
}
