.nx-read-only-data {
  margin-left: 0;
  padding-left: 12px;

  .fa {
    margin-right: 8px;
  }

  span {
    display: inline-block;
    margin-right: 12px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nx-read-only-data--vertical {
  span {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.nx-read-only-data--horizontal {
  dd {
    display: inline-block;
  }
}
