/*
  ##Buttons
*/

.nx-btn {
  @include semi-bold();

  background-color: $nx-grey-1;
  border: 1px solid $nx-grey-4;
  border-radius: 4px;
  color: $nx-slate;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 5px 12px;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;

  + .nx-btn {
    margin-left: 4px;
  }

  > .fa {
    margin-right: 8px;
  }

  &:hover, &:focus, &:active {
    border-color: $nx-slate;
    color: $nx-off-black;
  }

  &:active {
    background-color: $nx-grey-2;
  }

  &.disabled, &[disabled] {
    background-color: $nx-grey-1;
    border-color: $nx-grey-2;
    color: $nx-grey-4;
    cursor: default;

    &:focus {
      outline: 0;
    }
  }
}

.nx-btn--primary {
  background-color: $nx-link-color;
  border-color: transparent;
  border-width: 2px;
  color: $nx-off-white;
  padding: 4px 11px;

  &:hover, &:focus, &:active {
    border-color: $nx-link-color-active;
    color: $nx-off-white;
  }

  &:active {
    background: $nx-link-color-active;
    border-color: $nx-link-color-active;
  }

  &.disabled, &[disabled] {
    background-color: $nx-link-color-disabled;
    border-color: transparent;
    color: $nx-off-white;
  }
}

.nx-btn--tertiary {
  background-color: transparent;
  border-color: transparent;

  &:hover, &:focus {
    border-color: $nx-grey-4;
  }

  &:active {
    background-color: transparent;
    border-color: $nx-slate;
  }

  &.disabled, &[disabled] {
    background-color: transparent;
    border-color: transparent;
  }
}

.nx-btn--error {
  background-color: $nx-fail-color;
  border-color: $nx-fail-color;
  color: $nx-off-white;

  &:hover, &:focus, &:active {
    background-color: $nx-fail-color;
    border-color: $nx-fail-color-active;
    color: $nx-off-white;
  }

  &:active {
    background-color: $nx-fail-color-active;
  }
}

.nx-btn--icon-only {
  height: 32px;
  padding: 0;
  width: 32px;
  min-width: 0; // fix for IE10
  min-width: unset;

  > .fa {
    margin-right: 0;
  }
}

.nx-btn--inline {
  margin-left: 8px;
}

/*
 * Standard button container
 */

.nx-btn-bar {
  margin: 8px 0 0 0;
}

/*
 * Buttons for dropdown menus
 */

.nx-btn--dropdown {
  $nx-drop-down-indentation: -12px;

  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 0 0 $nx-drop-down-indentation;
  overflow: hidden;
  padding: 0 10px 0 12px;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 170px;
  max-width: 300px;

  &:hover:not(.disabled):not([disabled]),
  &:focus:not(.disabled):not([disabled]) {
    border-color: transparent;
    color: $nx-off-black;
    text-decoration: none;
  }

  &:active:not(.disabled):not([disabled]) {
    background-color: $nx-grey-1;
  }

  &:last-child {
    margin-bottom: 8px;
  }

  .fa {
    height: 12px;
    width: 12px;
  }
  
  &.disabled {
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
  }

  // This overrides the normal spacing for .nx-btn + .nx-btn above
  + .nx-btn--dropdown {
    margin-left: $nx-drop-down-indentation;
  }
}
