/*
  #Basic links
*/
a {
  color: $nx-link-color;
  cursor: pointer;
}

.nx-clickable {
  cursor: pointer;
}

/*
  #Helper Classes
*/
.nx-pull-left {
  float: left;
}

.nx-pull-right {
  float: right;
}

.nx-error {
  background-color: $nx-fail-color-bg;
  border: 1px solid $nx-fail-color;
  color: $nx-fail-color;
}

.nx-scrollable {
  height: auto;
  max-height: 400px; // default value - magic number
  overflow-x: hidden;
}

.truncate-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
