/*
  #Form elements

  base form typography is in _typography.scss
*/

@import "nx-input-checkbox";
@import "nx-input-radio";

$nx-form-element-height: 32px;
$nx-form-element-width-normal: 219px;
$nx-form-element-width-wide: 395px;

// Shared styles

@mixin nx-pristine() {
  border-left-color: $nx-valid-color;
  border-left-style: double;
  color: $nx-slate;
}

@mixin nx-valid() {
  border-left-color: $nx-valid-color;
  border-left-style: solid;
}

@mixin nx-dirty() {
  border-color: $nx-grey-3;
  border-left-style: solid;
}

@mixin nx-invalid-dirty() {
  border-color: $nx-invalid-color;
  border-left-style: solid;
}

@mixin nx-disabled() {
  background: $nx-off-white;
  border-color: $nx-grey-3;
  border-left: 4px double $nx-grey-3;
}

// Basic form layout

.nx-form {
  border-top: 1px solid $nx-grey-4;
  margin: 0;
  padding-top: 20px;
  position: relative; // to make a containing block for validation popovers
}

.nx-form--no-padding {
  padding: 0;
}

.nx-form--no-border {
  border-top: none;
}

// styles for a form that is the entirety of a modal
.nx-form--modal-form {
  padding-top: 0;
}

.nx-form-row {
  margin-bottom: 24px;
  
  .nx-form-group {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 0;
    vertical-align: top; // fixes issue where certain form types display lower
    
    &:last-child {
      margin-right: 0;
    }
    
    .nx-btn {
      margin-top: 27px;
    }
  }
}

.nx-form-buttons {
  border-top: 1px solid $nx-grey-4;
  padding: 8px 0;
}

.nx-form-group {
  margin-bottom: 20px;
    
  .nx-checkbox__label {
    display: block;
    padding-left: 24px;
  }
}

// labels

.nx-label {
  @include semi-bold();

  color: $nx-off-black;
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
  
  &:not(.nx-radio):not(.nx-checkbox__label).disabled {
    color: #cacaca;
  }
}

.nx-label--optional {
  &::after {
    @include regular();

    color: $nx-slate;
    content: " - optional";
    font-style: italic;
  }
}

.nx-sub-label {
  @include regular();
  
  color: $nx-off-black;
  display: block;
  font-size: 14px;
  
  .fa {
    margin-right: 6px;
  }
}

// Defining labels for groups of radio buttons or checkboxes is tricky - each individual radio has a <label>
// element, so it inappropriate to use a <label> for the group as a whole.  Instead, a <fieldset> and <legend> can
// be used, but you'll still typically want the <legend> styled the way a <label> on a text field would be.  This
// class implements that
fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  &.nx-radio-group, &.nx-checkbox-group {

    // override browser-default "min-content"
    min-width: auto;

    legend {
      @include semi-bold();

      // use the same styling as <label>s
      display: block;
      border: 0;
      border-style: none;
      color: $nx-off-black;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 7px;
      padding: 0;
      width: 100%;      
    }
  }
}

// Text Inputs

.nx-text-input, .nx-textarea {
  border: 1px solid $nx-grey-4;
  border-left-width: 4px;
  border-radius: 0;
  box-shadow: none;
  height: $nx-form-element-height;
  padding: 0 8px;
  width: $nx-form-element-width-normal;
  
  &:focus {
    border-color: $nx-grey-3;
  }

  &:disabled {
    @include nx-disabled();
  }

  &.ng-dirty, &.nx-field-dirty {
    @include nx-dirty();
  }

  &.ng-valid, &.nx-field-valid {
    @include nx-valid();
  }
  
  &.ng-pristine, &.nx-field-pristine {
    @include nx-pristine();
  }

  &.ng-invalid.ng-dirty, &.nx-field-invalid.nx-field-dirty {
    @include nx-invalid-dirty();
  }
  
  &.ng-invalid:not(.ng-dirty):focus,
  &.invalid:not(.nx-field-dirty):focus {
    // override bootstrap
    border-color: $nx-grey-4;
    border-left-color: $nx-valid-color;
    box-shadow: initial;
  }
}

.nx-text-input--long,
.iq-textarea--long,
.nx-text-input--wide {
  width: $nx-form-element-width-wide;
}

input.nx-input-file--hidden {
  left: -9999em;
  position: absolute;
}

.nx-textarea {
  min-height: 64px;
}

// Dropdown Selector

dropdown-selector {
  border: 1px solid $nx-grey-4;
  border-left-width: 4px;
  display: inline-block;
  vertical-align: middle;
  width: $nx-form-element-width-normal + 21px;

  &.wide {
    width: $nx-form-element-width-wide;
  }

  &.ng-pristine {
    border-left-color: $nx-valid-color;
    border-left-style: double;
  }

  &.ng-valid {
    border-left-color: $nx-valid-color;
  }

  &.ng-invalid.ng-dirty {
    border-color: $nx-invalid-color;
    border-left-style: solid;
  }
  
  &.no-options {
    border: none;
    color: $nx-fail-color;
    padding: 1px 1px 1px 4px;
    text-align: center;
  }
  
  &.disabled {
    border-color: $nx-grey-3;
    border-left-style: double;

    .iq-form-select__item .caret,
    .iq-form-select__item:hover .caret {
      border-top: 6px solid $nx-grey-3;
    }
  }
}

.iq-form-select {
  &.open {
    .iq-form-select__item,
    .iq-form-select__item:hover {
      color: $nx-grey-4;
    }
    
    .iq-form-select__item:hover .caret {
      border-top-color: $nx-grey-4;
    }
  }
  
  .dropdown-menu {
    background: $nx-off-white;
    border: 1px solid $nx-grey-4;
    border-collapse: separate;
    border-radius: 0;
    box-shadow: -4px 6px 10px $nx-slate;
    max-height: 300px; // 10 list items
    margin: 0 0 0 -4px;
    overflow-y: auto;
    padding: 0;
    width: calc(100% + 3px);
    min-width: 0;

    > li {
      @extend .truncate-ellipsis;
      
      color: $nx-slate;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0 11px;
      
      &:hover {
        color: $nx-off-black;
      }
    }
  }
}

.iq-form-select__item {
  @extend .truncate-ellipsis;

  color: $nx-off-black;
  display: block;
  height: 22px;
  line-height: 22px;
  padding: 4px 34px 4px 8px;
  position: relative;
  text-decoration: none;

  &.none-selected {
    color: $nx-slate;
  }

  & .caret {
    border-top: 6px solid $nx-grey-4;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
  
  &:hover {
    color: $nx-off-black;
    text-decoration: none;
    
    & .caret {
      border-top: 6px solid $nx-slate;
    }
  }
}

// Colour Picker

.iq-color-picker {
  background: $nx-grey-3;
  padding: 4px;
  width: 166px;
}

.iq-color-picker-row {
  font-size: 0;
  line-height: 0;

  &:not(:first-child) {
    margin-top: -1px;
  }
}

.iq-color-picker-color {
  border: 1px solid $nx-off-black;
  cursor: pointer;
  display: inline-block;
  height: $nx-form-element-height;
  position: relative;
  width: 32px;

  &:not(:first-child) {
    margin-left: -1px;
  }

  @each $color-name, $pickable-color in $pickable-colors {
    &.#{$color-name} {
      background-color: $pickable-color;
    }
  }

  &.selected {
    border: 1px solid $nx-off-white;
    box-shadow: 1px 1px 5px $nx-off-black;
    height: $nx-form-element-height;
    width: 32px;
    z-index: 1;
  }
}
