$tile-scroll-container-z-index: 0;

$nx-tile-header-height: 24px; // Minimum height
$nx-tile-header-height-actions: 43px; // Height with sub-title and/or right actions

$nx-tile-actions-margin-top: 8px;

/*
  #Name-spaced Tile System
*/

// Base Tiles

.nx-tile {
  background-color: $nx-main-background-color;
  border: 1px solid $nx-grey-2;
  margin: 8px;
  padding: 0 8px 8px 8px;
  
  // Sometimes we want tiles that consist of alert messages
  &.iq-alert {
    background-color: $nx-warn-color-bg;
    border: 1px solid $nx-warn-color;
    color: $nx-warn-color;
    
    > :first-child {
      margin-top: 0;
      
      h2 {
        margin-top: 10px;
      }
    }
    
    .nx-tile-header + .nx-tile-content {
      padding-top: 0;
    }
  
    > .nx-tile-content {
      padding-top: 12px;
    }
  }

  &.iq-alert--error {
    background-color: $nx-fail-color-bg;
    border-color: $nx-fail-color;
    color: $nx-fail-color;
  }

  &.iq-alert--info {
    background-color: $nx-off-white;
    border-color: $nx-dark-blue;
    color: $nx-off-black;
    
    .fa {
      font-size: 23px;
    }
  }
}

// Used for "headlines"
.nx-tile--title-only {
  padding-bottom: 0;
}

// Special tile for containing grids 
.nx-tile--grid-tile {
  .nx-tile-header {
    margin-bottom: 0;
  }

  .nx-tile-footer {
    margin-top: 0;
  }
}

// Tile for scrolling content
.nx-tile-scroll-container {
  margin: 0 8px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 8px;
  position: relative; //required for scrollspy
  width: calc(100% - 16px);
  z-index: $tile-scroll-container-z-index;

  .nx-tile {
    margin: 0 0 8px 0;
  }
}

// used when a <form> is the first element in an iq-tile
.nx-tile--form-tile {
  .nx-tile-header {
    margin-bottom: 6px;
  }
}

// Tile headers

.nx-tile-header {
  min-height: $nx-tile-header-height;
  margin: 8px 0 15px 0;
  overflow: hidden;
  
  // Actions are buttons or dropdowns that appear ina  tile header
  .nx-tile__actions {
    margin-top: 1px;
  }
}

.nx-tile-header__title {
  display: inline-block;

  h1, h2 {
    display: inline-block;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  h1 {
    font-size: 26px;
    margin-left: -1px; // Magic number b/c H1 has mysterious 1px to the left
    padding: 0;

    .nx-tile-header__description {
      @include regular();

      font-weight: normal;
    }
  }
}

.nx-tile-header__icon {
  display: block;
  float: left;
  font-size: 30px;
  margin-right: 8px;
  vertical-align: middle;
}

.nx-tile-header__title--no-actions {
  height: $nx-tile-header-height;
}

.nx-tile-header__subtitle {
  line-height: 16px;
  margin: 0;
  padding: 0 0 2px 0;
  max-width: $nx-paragraph-width-maximum;
}

.nx-tile-header--hrule {
  border: 0 solid $nx-grey-4;
  border-bottom-width: 1px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.nx-tile__actions {
  float: right;
  margin-top: $nx-tile-actions-margin-top;
  
  .btn {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.nx-tile-content {
  clear: both;

  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  // for pages with tab systems inside iq-content
  .well:last-child {
    padding-bottom: 19px;
  }
}

// On pages with tiles with multiple sections these are lighter weight titles
.nx-tile__section-header {
  @include semi-bold();

  border-bottom: 1px solid $nx-grey-4;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.nx-tile__section-header--simple {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nx-tile-footer {
  border: 0 solid $nx-grey-4;
  border-top-width: 1px;
  margin-top: 20px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 12px;
}

// A tile at the top of the page, usually contains a nav bar with scrolling buttons
.nx-tile--top-tile {
  box-shadow: 0px 5px 6px 0px $nx-grey-1;
  margin-bottom: 0;
  position: relative;
  z-index: $tile-scroll-container-z-index + 1;
}
