/*
  Threat Legends
 */

.nx-threat-bar {
  display: inline-block;
  height: 100%;
  margin: 0 8px 0 -12px;
  vertical-align: middle;
  width: 8px;

  @each $threatdef in join($threat-levels, $threat-bars) {
    &.nx-threat-bar--#{nth($threatdef, 1)} {
      background-color: #{nth($threatdef, 3)};
    }
  }

  @each $threatdef in $threat-levels {
    @each $threatLevel in nth($threatdef, 4) {
      &.nx-threat-bar--#{$threatLevel} {
        background-color: nth($threatdef, 3);
      }
    }
  }

  @each $threat in $policy-threat-levels {
    @each $threatLevel in nth($threat, 4) {
      &.nx-threat-bar--policy-level-#{$threatLevel} {
        background-color: nth($threat, 3);
      }
    }
  }
}

.nx-list__item {
  .nx-threat-bar {
    height: 40px;
    margin: -12px 4px -12px -8px;
  }
}
