/*
  Global icon variables
*/
$icon-font-color: #1d1d1b;
$icon-font-size-large: 24px;
$icon-font-size-medium: 18px;
$icon-font-size-small: 12px;
$icon-font-size-extra-small: 10px;

$font-families: ('sonatype-icons', 'sonatype-glyphicons');

/*
  Global icon styles
*/
@each $font-family in $font-families {
  .#{$font-family}.medium:before {
    font-size: $icon-font-size-medium !important;
  }
  .#{$font-family}.small:before {
    font-size: $icon-font-size-small !important;
  }
  .#{$font-family}.extra-small:before {
    font-size: $icon-font-size-extra-small !important;
  }
}


/*
  # Icons
  ## Sizes
  ## Styles
*/
.fa {
  &.inverse {
    background-color: $nx-slate;
    color: $nx-off-white;
  }

  &.size-26px {
    font-size: 26px;

    &.inverse {
      font-size: 20px;
      line-height: 26px;
      height: 26px;
      text-align: center;
      width: 26px;

      &::before {
        vertical-align: 2px;
      }
    }
  }

  &.size-22px {
    font-size: 22px;
    line-height: 22px;
  }

  &.size-20px {
    font-size: 20px;
    line-height: 20px;

    &.inverse {
      font-size: 90%;
      padding: 2px;
    }

    &.size-fw {
      width: 20px;
      text-align: center;
    }
  }

  &.size-18px {
    font-size: 18px;
    line-height: 18px;

    &.inverse {
      font-size: 90%;
      padding: 2px;
    }

    &.size-fw {
      width: 18px;
      text-align: center;
    }
  }

  &.size-16px {
    font-size: 16px;
    line-height: 16px;

    &.size-fw {
      width: 16px;
      text-align: center;
    }
  }

  &.size-14px {
    font-size: 14px;
    line-height: 14px;
  }

  &.size-12px {
    font-size: 12px;
    line-height: 12px;
  }

  &.size-10px {
    font-size: 10px;
    line-height: 10px;
    margin-top: -4px;
    vertical-align: middle;
  }

  &.outline {
    // A single shadow is too light. We layer it multiple times to simulate a text stroke/outline
    text-shadow: $nx-slate 0 0 1px, $nx-slate 0 0 1px, $nx-slate 0 0 1px, $nx-slate 0 0 1px, $nx-slate 0 0 1px, $nx-slate 0 0 1px;
  }

  &.fail {
    color: $nx-dark-red;
  }

  &.warn {
    color: $nx-orange;
  }
}

/*
  ## Label Colors
  Colors for organization or application labels
*/

.hexagon {
  height: 14px;
  width: 12px;

  &.outline {
    > path {
      fill: none;
      stroke: $nx-slate;
      stroke-width: 12px;
    }
  }

  &.size-20px {
    height: 20px;
    width: 17px;

    &.size-fw {
      width: 20px;
    }
  }

  &.size-16px {
    height: 16px;
    width: 14px;

    &.size-fw {
      width: 16px;
    }
  }
}

.fa.loading-spinner {
  margin-right: 8px;
}
