/*
  #Typography
*/
@font-face {
  font-family: Proxima Nova Regular;
  src: url('./example-assets/fonts/proximanova-reg-webfont.eot');
  src: url('./example-assets/fonts/proximanova-reg-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-reg-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-reg-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-reg-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url('./example-assets/fonts/proximanova-bold-webfont.eot');
  src: url('./example-assets/fonts/proximanova-bold-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-bold-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-bold-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Semibold;
  src: url('./example-assets/fonts/proximanova-sbold-webfont.eot');
  src: url('./example-assets/fonts/proximanova-sbold-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-sbold-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-sbold-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-sbold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@mixin regular() {
  font-family: Proxima Nova Regular, sans-serif;
}

@mixin bold() {
  font-family: Proxima Nova Bold, sans-serif;
}

@mixin semi-bold() {
  font-family: Proxima Nova Semibold, sans-serif;
}

body {
  @include regular();
  
  font-size: 14px;
  line-height: 18px;
}

h1, .nx-h1 {
  @include bold();
  
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 24px;
}

h2, .nx-h2 {
  @include bold();
  
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

h3, .nx-h3 {
  @include bold();
  
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
}

h4, .nx-h4 {
  @include semi-bold();
  
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

li {
  line-height: 24px;
}

form label {
  @include semi-bold();
  
  cursor: default;
  font-size: 16px;
}

p, ul {
  margin-top: 16px;
  margin-bottom: 16px;
}

// Form typography
input[type=text], 
input[type=number], 
input[type=email], 
input[type=password], 
textarea {
  @include regular();
  
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}
