/*
  #Typography
*/
@font-face {
  font-family: Proxima Nova Regular;
  src: url('./example-assets/fonts/proximanova-reg-webfont.eot');
  src: url('./example-assets/fonts/proximanova-reg-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-reg-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-reg-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-reg-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url('./example-assets/fonts/proximanova-bold-webfont.eot');
  src: url('./example-assets/fonts/proximanova-bold-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-bold-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-bold-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova Semibold;
  src: url('./example-assets/fonts/proximanova-sbold-webfont.eot');
  src: url('./example-assets/fonts/proximanova-sbold-webfont.eot') format('eot'),
       url('./example-assets/fonts/proximanova-sbold-webfont.woff') format('woff'),
       url('./example-assets/fonts/proximanova-sbold-webfont.ttf') format('ttf'),
       url('./example-assets/fonts/proximanova-sbold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

// These are deprecated - use the mixins instead
// will remove from here when all references have been removed
.bold {
  font-family: Proxima Nova Bold, sans-serif;
}

.semi-bold {
  font-family: Proxima Nova Semibold, sans-serif;
}

.regular {
  font-family: Proxima Nova Regular, sans-serif;
}

@mixin regular() {
  font-family: Proxima Nova Regular, sans-serif;
}

@mixin bold() {
  font-family: Proxima Nova Bold, sans-serif;
}

@mixin semi-bold() {
  font-family: Proxima Nova Semibold, sans-serif;
}

body {
  @include regular();
  
  font-size: 14px;
  line-height: 18px;
}

$h1-font-size: 26px;

h1 {
  @include bold();
  
  font-size: $h1-font-size;
  line-height: 28px;
  margin-bottom: 24px;
}

h2 {
  @include bold();
  
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

h3 {
  @include bold();
  
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 8px;
}

h4 {
  @include semi-bold();
  
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

li {
  line-height: 24px;
}

form label {
  @include semi-bold();
  
  cursor: default;
  font-size: 16px;
}

p {
  margin-top: 16px;
}

p + h2, 
ul + h2 {
  margin-top: 32px;
}

p + h3, 
p + h4, 
ul + h3, 
ul + h4 {
  margin-top: 24px;
}

p + ul, 
ul + p {
  margin-top: 20px;
}

// Form typography
input[type=text], 
input[type=number], 
input[type=email], 
input[type=password], 
textarea {
  @include regular();
  
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0px;
}

label.checkbox, label.radio {
  @include regular();
  
  font-size: 14px;
}

// see CLM-7344 for details on removing this style
h1 + div > *:first-child, 
h2 + div > *:first-child, 
h3 + div > *:first-child, 
h4 + div > *:first-child {
  margin-top: 0;
}
