/*
  #Layout
*/
body {
  background-color: $nx-grey-3;
  color: $nx-off-black;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
}

.nx-root-container {
  background-color: $nx-off-white;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: $nx-page-width-max;
  min-width: $nx-page-width-min;
}

.nx-page-sidebar {
  background-color: $nx-grey-2;
  border-right: 1px solid $nx-grey-3;
  border-left: solid 1px $nx-grey-4;
  box-sizing: border-box;
  flex: 0 1 auto;
  overflow-x: hidden;
  padding: 8px;
  position: relative;
  vertical-align: top;
  white-space: normal;
  width: $nx-sidebar-width;
  z-index: $nx-sidebar-zindex;
}

.nx-page-main {
  background: url("../example-assets/img/tile_bg.png");
  border-right: solid 1px $nx-grey-4;
  box-sizing: border-box;
  flex: 0 1 auto;
  overflow-x: hidden;
  vertical-align: top;
  white-space: normal;
  width: $nx-content-width;

  @media only screen and (-moz-min-device-pixel-ratio: 2), 
  only screen and (-webkit-min-device-pixel-ratio: 2), 
  only screen and (min-devicepixel-ratio: 2), 
  only screen and (min-resolution: 2dppx) {
    background-image: url("../example-assets/img/tile_bg_@2X.jpg");
    background-size: 150px 150px;
  }
}

.nx-page-main--single-pane {
  border-left: solid 1px $nx-grey-4;
  width: 100%;
}
