.nx-nav-pills {
  background-color: $nx-grey-2;
  border: 1px solid $nx-grey-3;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 8px;
  
  // These aren't strictly necessary but if Bootstrap is in the mix this format
  // is required to override the Bootstrap styles
  > .nx-nav-pills__pill {
    float: left;
  
    > a {
      border: 1px solid transparent;
      border-radius: 4px;
      color: $nx-slate;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      margin: 0; // Bootstrap override
      padding: 5px 12px;
      text-align: center;
      text-decoration: none;
      min-width: 74px;

      &:hover, &:focus {
        background-color: transparent; // Bootstrap override
        border-color: $nx-grey-4;
      }
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active a {
      &, &:hover, &:focus {
        background-color: $nx-off-white;
        border-color: $nx-grey-4;
        color: $nx-off-black;   
      }
    }
  }
}
