/*
  #Widgets
*/

@import "nx-alerts";
@import "iq-dropdowns";
@import "nx-tables";
@import "nx-grid";
@import "nx-lists";
@import "nx-btn";
@import "iq-indicator-row";
@import "nx-threat-indicators";
@import "iq-coverage-indicator";
@import "nx-counter";
@import "nx-nav-pills";
@import "iq-text-indicators.scss";
@import "iq-threat-bar";
@import "nx-pagination";
@import "nx-read-only";
@import "nx-tree-view";

/*
  #System notice
 */
.iq-system-notice {
  max-width: $nx-paragraph-width-maximum;
}

/*
  #Tabs
*/
.iq-tab-bar {
  border-bottom: 1px solid $nx-grey-3;
  height: 32px;
}

.iq-tab {
  @include semi-bold();

  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
  color: $nx-slate;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  margin-right: 8px;
  padding: 8px 12px;
  text-transform: uppercase;
  vertical-align: bottom;

  &:hover, &:focus {
    color: $nx-off-black;
    text-decoration: none;

    .fa.inverse {
      background-color: $nx-off-black;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: $nx-grey-1;
    border-top: 1px solid $nx-grey-3;
    border-right: 1px solid $nx-grey-3;
    border-left: 1px solid $nx-grey-3;
    color: $nx-off-black;
    cursor: default;
  }

  .fa {
    margin-right: 8px;

    &.fa-exclamation {
      line-height: 16px;
      text-align: center;
      vertical-align: 1px;
      width: 16px;
    }

    &.fa-terminal {
      font-size: 12px;
      height: 16px;
      line-height: 12px;
      text-align: center;
      vertical-align: 3px;
      width: 16px;
    }
  }
}

.nx-caption {
  display: inline-block;
  height: 26px;
  margin-left: 10px;
  vertical-align: top;
}

.nx-caption__text {
  display: block;
  font-size: 14px;
  line-height: 12px;
  margin: 0 0 2px 0;
  padding: 0;
  text-transform: uppercase;
}

.nx-caption__sub-text {
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}
