<item-description>
  <marked>
    Basic style for small indicator token which typically displays a single #, a '# of #' string, or a short text string.
  
    Some basic positioning CSS examples have been provided.
  </marked>
</item-description>

<style>
  h2, h3 {
    max-width: 200px; // shortened to make positioning examples more obvious
  }

  h2 .nx-counter {
    float: right;
    margin-top: 2px;
  }

  h3 .nx-counter {
    float: right;
  }
</style>

<item-example-html>
  <h2>Default <span class="nx-counter">42</span></h2>
</item-example-html>

<item-example-html>
  <h2>Active <span class="nx-counter nx-counter--active">2 of 2</span></h2>
</item-example-html>

<item-example-html>
  <h2>All Time <span class="nx-counter">all time</span></h2>
</item-example-html>

<item-example-html title="Tree-view positioning">
  <div class="nx-tree-view">
    <a class="nx-tree-view__trigger" ng-click="isExpanded1 = !isExpanded1">
      <div class="nx-tree-view__twisty">
        <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded1, collapse: isExpanded1 }"></span>
      </div>
      <div class="nx-counter nx-counter--active nx-tree-view__counter">
        42
      </div>
      <div class="nx-tree-view__text">
        <i class="fa fa-cube nx-tree-view__text-icon"></i>Default state
      </div>
    </a>
    <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded1, expanded: isExpanded1 }">
      <div class="nx-tree-view__child">
        Tree view element
      </div>
    </div>
  </div>
  <div class="nx-tree-view">
    <a class="nx-tree-view__trigger" ng-click="isExpanded2 = !isExpanded2">
      <div class="nx-tree-view__twisty">
        <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded2, collapse: isExpanded2 }"></span>
      </div>
      <div class="nx-counter nx-counter--active nx-tree-view__counter">
        3 of 6
      </div>
      <div class="nx-tree-view__text">
        <i class="fa fa-cube nx-tree-view__text-icon"></i>Active state
      </div>
    </a>
    <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded2, expanded: isExpanded2 }">
      <div class="nx-tree-view__child">
        Tree view element
      </div>
    </div>
  </div>
  <div class="nx-tree-view">
    <a class="nx-tree-view__trigger" ng-click="isExpanded3 = !isExpanded3">
      <div class="nx-tree-view__twisty">
        <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded3, collapse: isExpanded3 }"></span>
      </div>
      <div class="nx-counter nx-counter--active nx-tree-view__counter">
        all time
      </div>
      <div class="nx-tree-view__text">
        <i class="fa fa-cube nx-tree-view__text-icon"></i>Text only
      </div>
    </a>
    <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded3, expanded: isExpanded3 }">
      <div class="nx-tree-view__child">
        Tree view element
      </div>
    </div>
  </div>

</item-example-html>
