<item-description>
  <marked>
    `.nx-tree-view` is used when you want a collapsing and expanding view with titles and children. Usually the children are a list with checkboxes or radio buttons, but the styles should be able accommodate anything reasonable in the expanded view.
    
    Note that the examples below use AngularJS for their functionality.
  </marked>
</item-description>

<item-example-html>
  <!-- wrapping <div> is for clarity -->
  <div style="background-color: #eaeaea; padding: 10px 8px 20px; width: 300px;">
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger" ng-click="isExpanded1 = !isExpanded1">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded1, collapse: isExpanded1 }"></span>
        </div>
        <div class="nx-tree-view__text">
          <i class="fa fa-sitemap inverse nx-tree-view__text-icon nx-tree-view__text-icon--inverse"></i><!--
       -->Tree view group title
        </div>
      </a>
      <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded1, expanded: isExpanded1 }">
        <div class="nx-tree-view__child">
          Tree view element 1
        </div>
        <div class="nx-tree-view__child">
          Tree view element 2
        </div>
        <div class="nx-tree-view__child">
          Tree view element 3
        </div>
        <div class="nx-tree-view__child">
          Tree view element 4 - extra long to demonstrate overflow ellipsis
        </div>
      </div>
    </div>
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger" ng-click="isExpanded2 = !isExpanded2">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded2, collapse: isExpanded2 }"></span>
        </div>
        <div class="iq-counter iq-counter--active nx-tree-view__counter">
          14 of 33
        </div>
        <div class="nx-tree-view__text">
          <i class="fa fa-cube nx-tree-view__text-icon"></i>Tree view group title
        </div>
      </a>
      <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded2, expanded: isExpanded2 }">
        <div class="nx-tree-view__child">
          Tree view element 1
        </div>
        <div class="nx-tree-view__child">
          Tree view element 2
        </div>
        <div class="nx-tree-view__child">
          Tree view element 3
        </div>
        <div class="nx-tree-view__child">
          Tree view element 4 - extra long to demonstrate overflow ellipsis
        </div>
      </div>
    </div>
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger" ng-click="isExpanded3 = !isExpanded3">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded3, collapse: isExpanded3 }"></span>
        </div>
        <div class="iq-counter iq-counter--active nx-tree-view__counter">
          3 of 6
        </div>
        <div class="nx-tree-view__text">
          <i class="fa fa-cube nx-tree-view__text-icon"></i>A really really long tree view group title
        </div>
      </a>
      <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded3, expanded: isExpanded3 }">
        <div class="nx-tree-view__child">
          Tree view element 1
        </div>
        <div class="nx-tree-view__child">
          Tree view element 2
        </div>
        <div class="nx-tree-view__child">
          Tree view element 3
        </div>
        <div class="nx-tree-view__child">
          Tree view element 4 - extra long to demonstrate overflow ellipsis
        </div>
      </div>
    </div>
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger" ng-click="isExpanded4 = !isExpanded4">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon" ng-class="{ expand: !isExpanded4, collapse: isExpanded4 }"></span>
        </div>
        <div class="nx-tree-view__text">
          Tree view group title
        </div>
      </a>
      <div class="nx-tree-view__children" ng-class="{ collapsed: !isExpanded4, expanded: isExpanded4 }">
        <div class="nx-tree-view__child">
          Tree view element 1
        </div>
        <div class="nx-tree-view__child">
          Tree view element 2
        </div>
        <div class="nx-tree-view__child">
          Tree view element 3
        </div>
        <div class="nx-tree-view__child">
          Tree view element 4 - extra long to demonstrate overflow ellipsis
        </div>
      </div>
    </div>
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger nx-tree-view__trigger--unselectable">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon collapse"></span>
        </div>
        <div class="nx-tree-view__text">
          Disabled tree view group title
        </div>
      </a>
      <div class="nx-tree-view__children">
        <div class="nx-tree-view__child">
          Tree view element 1
        </div>
        <div class="nx-tree-view__child">
          Tree view element 2
        </div>
        <div class="nx-tree-view__child">
          Tree view element 3
        </div>
        <div class="nx-tree-view__child">
          Tree view element 4 - extra long to demonstrate overflow ellipsis
        </div>
      </div>
    </div>
    <div class="nx-tree-view">
      <a class="nx-tree-view__trigger nx-tree-view__trigger--empty">
        <div class="nx-tree-view__twisty">
          <span class="nx-tree-view__twisty-icon"></span>
        </div>
        <div class="nx-tree-view__text">
          <i class="fa fa-cube icon-12px"></i>Empty Tree view group
        </div>
      </a>
    </div>
  </div>
</item-example-html>
